* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
}

body {
  margin: 0;
}

.header {
  background-color: #0a192f;
  height: 60px;
  width: auto;
}

h1 {
  color: #a8b2d1;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
}

h1 a:hover {
  color: Yellow;
  text-decoration: none;
}

.img-header {
  height: 37px;
  padding: 3px;
  margin-left: 40px;

}

.searchbar {
  padding-left: 20px;
  width: 500px;
}

.subNames {
  /* color: #64ffda; */
  color: #a8b2d1;
  margin: 0px 10px;
  text-align: center;
  padding-top: 12px;
}

.subNames a:hover {
  color: Yellow;
  text-decoration: none;
}

.subNames1 {
  /* color: #64ffda; */
  color: #a8b2d1;
  margin: -28px 14px;
  text-align: center;
  padding-top: 12px;
}

.subNames1 a:hover {
  color: Yellow;
  text-decoration: none;
}

p {
  margin-bottom: 0px;
  font-size: 14px;
  padding-top: 6px;
}

h6 {
  line-height: 0px;
  margin-bottom: 0px;
}

li {
  margin: auto;
}

.btn {
  border-color: #64ffda;
  color: #64ffda;
}

.wallpaper {

  height: 100%;
  width: 100%;
}

.Sections {

  margin: 50px 50px;
}

.Stuffs {
  height: 100px;
  width: 100px;
}

footer {
  background-color: #0a192f;
  /* background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A); */
  color: white;
  padding-top: 20%;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: Yellow;
  text-decoration: none;
}

.a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}


.a:hover {
  color: Yellow;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
  background-color: white;
}

.social-network a.icoGithub:hover {
  background-color: Black;
}

.social-network a.icoGmail:hover {
  background-color: #007bb7;
}


.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoGmail:hover i,
.social-network a.icoGithub:hover i {
  color: #fff;
}

.social-network a.icoInstagram:hover i {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

.wallpaper {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.items {
  position: absolute;
  top: 10px;
  left: 20px;
}

.contentShell1 {
  height: 232px;
  width: 310px;
  background-color: #0a192f;
  margin: 10% 2.5% 0px 6.5%;

  padding-left: 10px;
  padding-right: 10px;
}

.contentShell2 {
  height: 232px;
  width: 310px;
  background-color: #0a192f;
  margin: 4% 2.5% 0px 6.5%;

}

.shell1 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: -2%;

}

.shell2 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: -2%;

}

.background {

  background-color: #0a192f;

  /* Full height */
  height: 100%;

  /* background-image: url("W1.jpg"); */
  /* Center and scale the image nicely */
  background-size: cover;
  background-repeat: no-repeat;



}

.navbar-nav {
  --bs-nav-link-hover-color: yellow;
}

a, link {
  text-decoration: none;
}

.subContent2 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.subContent2 {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.subContent2:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.subContent2:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.subContent1 {
  height: 10px;

  text-align: center;
  margin-top: 0px;
  padding-bottom: 13%;
  justify-content: center;
}

.subContent2 {
  height: 10px;
  padding: 29% 0px;

  background-image: url("Gaming.jpg");
  background-size: contain;
}


.subContent3 {
  height: 10px;
  text-align: center;
}